@using Adapters.Models
@model IEnumerable<CustomerData>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title { Classic }
<div class="row">
    <div class="span4"></div>
    <div class="span8">
        @if (Model.Any())
        {
        <div id="customer-container">
            <table id="tblData" class="table table-striped table-bordered table-hover">
                <caption>Customer List</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Height</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (CustomerData customer in Model)
                {
                    <tr>
                        <td>@customer.Name</td>
                        <td>@customer.BirthDate</td>
                        <td>@customer.Height</td>
                        <td><a href="@Url.Action(MVC.Classic.Edit(customer.CustomerId))">Edit</a></td>
                        <td><a href="@Url.Action(MVC.Classic.Delete(customer.CustomerId))">Delete</a></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        }
        <a href="@Url.Action(MVC.Classic.Create())" class="btn btn-primary">Create</a>
    </div>
</div>